<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <style>
        body{
            background-image: url('/static/bg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <h1>WELCOME TO E-LIBRARY</h1>
    <a href="/userlogin">LOGIN/REGISTER</a>
    <h2>CLICK HERE TO LOGIN/REGISTER</h2>
    <a href="/libraianlogin">LIBRIAN LOGIN</a>
</body>
</html>